.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1028px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-search-1 {
  width: 200px;
  min-height: 38px;
  margin: 18px 19px 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -31px auto 0 18px;
}

.u-section-1 .u-table-1 {
  width: 400px;
  margin: 31px auto 0;
}

.u-block-43bc-11 {
  border-style: dotted;
}

.u-block-43bc-13 {
  border-style: dotted;
}

.u-section-1 .u-table-header-1 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-1 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-2 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-3 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-4 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-5 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-6 {
  border-style: dotted;
}

.u-block-43bc-48 {
  height: 46px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  margin: 45px 19px 0 auto;
  padding: 2px 22px;
}

.u-section-1 .u-icon-1 {
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  margin: -30px auto 0 19px;
  padding: 2px 8px 2px 7px;
}

.u-section-1 .u-icon-2 {
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 19px auto 0 10px;
}

.u-section-1 .u-form-1 {
  height: 191px;
  width: 490px;
  margin: 10px auto 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-top: 20px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  margin: -56px auto 0 19px;
  padding: 10px 28px 10px 27px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 990px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 25px auto 0 10px;
}

.u-section-1 .u-form-2 {
  height: 181px;
  width: 490px;
  margin: 19px auto 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 848px;
  }

  .u-section-1 .u-search-1 {
    height: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    width: 410px;
  }

  .u-section-1 .u-form-group-2 {
    margin-bottom: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 816px;
  }

  .u-section-1 .u-form-2 {
    width: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-right: 19px;
    margin-left: auto;
  }

  .u-section-1 .u-table-1 {
    width: 300px;
  }

  .u-section-1 .u-form-1 {
    width: 300px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-form-2 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -31px;
    margin-right: auto;
    margin-left: 18px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-right: 19px;
    margin-left: auto;
  }
}