.u-section-1 .u-sheet-1 {
  min-height: 671px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 51px;
  margin-bottom: 59px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 245px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: 0 auto;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 2px;
  background-image: none;
  margin: 9px auto 0;
  padding: 8px 24px 8px 23px;
}

.u-section-1 .u-icon-1 {
  color: rgb(0, 0, 0) !important;
  font-size: 1.3em;
}

.u-section-1 .u-text-2 {
  margin: 3px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 0.875rem;
  margin: 9px auto 0;
}

.u-section-1 .u-icon-2 {
  color: currentcolor !important;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 133px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  background-image: none;
  width: 392px;
  margin: 25px auto 0;
}

.u-section-1 .u-form-1 {
  height: 124px;
  width: 570px;
  margin: 9px auto 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 133px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  background-image: none;
  text-align: center;
  width: 162px;
  margin: 27px auto 0;
}

.u-section-1 .u-form-2 {
  height: 77px;
  width: 902px;
  margin: 9px 89px 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-btn-3 {
  font-size: 0.875rem;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 202px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 110px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 110px;
  }

  .u-section-1 .u-form-2 {
    margin-right: 0;
    margin-left: 0;
    width: 880px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-form-2 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 857px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    width: 520px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-2 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-4 {
    width: 320px;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
  }

  .u-section-1 .u-form-2 {
    width: 320px;
  }
}