.u-section-1 .u-sheet-1 {
  min-height: 1512px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  min-height: 1231px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1231px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-search-1 {
  width: 200px;
  min-height: 38px;
  margin: 30px 50px 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -24px auto 0 40px;
}

.u-section-1 .u-table-1 {
  width: 490px;
  margin: 30px auto 0;
}

.u-block-9b0c-36 {
  border-style: dotted;
}

.u-block-9b0c-38 {
  border-style: dotted;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-1 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-2 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-3 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-4 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-5 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-6 {
  border-style: dotted;
  margin-top: 20px;
}

.u-section-1 .u-table-cell-7 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-8 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-9 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-10 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-11 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-12 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-13 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-14 {
  border-style: dotted;
}

.u-section-1 .u-table-cell-15 {
  border-style: dotted;
}

.u-block-9b0c-88 {
  height: 46px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  margin: 20px auto 0 50px;
  padding: 2px 8px 2px 7px;
}

.u-section-1 .u-icon-1 {
  margin-bottom: 0;
  color: rgb(255, 255, 255) !important;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  margin: -30px 50px 0 auto;
  padding: 2px 22px;
}

.u-section-1 .u-icon-2 {
  color: rgb(255, 255, 255) !important;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 38px auto 0 40px;
}

.u-section-1 .u-form-1 {
  height: 409px;
  margin: 10px 68px 0 60px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-btn-3 {
  font-size: 1rem;
}

.u-section-1 .u-btn-4 {
  font-size: 1rem;
  background-image: none;
  border-style: none;
  margin: -51px auto 0 90px;
  padding: 7px 26px 8px 25px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: left;
  margin: 37px auto 0 40px;
}

.u-section-1 .u-search-2 {
  height: auto;
  width: 200px;
  min-height: 38px;
  margin: -2px 100px 0 auto;
}

.u-section-1 .u-form-2 {
  height: 177px;
  margin: 14px 132px 0 68px;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

.u-section-1 .u-form-group-10 {
  margin-left: 0;
}

.u-section-1 .u-btn-5 {
  font-size: 0.875rem;
  padding: 6px 20px 7px;
}

.u-block-9b0c-175 {
  height: 313px;
  width: 533px;
  margin: 6px auto 0;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  margin:  0 185px 0 300px;
  padding: 2px 18px 2px 17px;
}

.u-section-1 .u-icon-4 {
  color: rgb(0, 0, 0) !important;
  width: 16px;
  height: 22px;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  margin: -30px 180px 0 auto;
  padding: 2px 17px;
}

.u-section-1 .u-icon-6 {
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 1049px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 14px auto 0 50px;
}

.u-section-1 .u-form-3 {
  height: 348px;
  width: 434px;
  margin: 10px 30px 0;
}

.u-section-1 .u-form-group-12 {
  margin-left: 0;
}

.u-section-1 .u-form-group-13 {
  margin-left: 0;
}

.u-section-1 .u-form-group-14 {
  margin-left: 0;
}

.u-section-1 .u-form-group-15 {
  margin-left: 0;
}

.u-section-1 .u-form-group-16 {
  margin-left: 0;
}

.u-section-1 .u-btn-8 {
  font-size: 1rem;
  padding: 8px 25px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1109px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    min-height: 831px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1015px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    margin-right: 11px;
    margin-left: 3px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-form-2 {
    width: 533px;
    margin-right: 75px;
    margin-left: 11px;
  }

  .u-section-1 .u-form-group-8 {
    height: 313px;
    width: 533px;
    margin: 6px auto 0;
  }

  .u-section-1 .u-form-group-9 {
    height: 313px;
    width: 533px;
    margin: 6px auto 0;
  }

  .u-section-1 .u-form-group-10 {
    height: 313px;
    width: 533px;
    margin: 6px auto 0;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 72px;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 865px;
  }

  .u-section-1 .u-form-3 {
    width: 407px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-table-1 {
    width: 408px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-form-2 {
    width: 408px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-form-group-8 {
    width: 408px;
  }

  .u-section-1 .u-form-group-9 {
    width: 408px;
  }

  .u-section-1 .u-form-group-10 {
    width: 408px;
  }

  .u-block-9b0c-175 {
    width: 408px;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-form-3 {
    width: 312px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 860px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
  }

  .u-section-1 .u-form-2 {
    width: 340px;
  }

  .u-section-1 .u-form-group-8 {
    width: 340px;
  }

  .u-section-1 .u-form-group-9 {
    width: 340px;
  }

  .u-section-1 .u-form-group-10 {
    width: 340px;
  }

  .u-block-9b0c-175 {
    width: 340px;
  }
}
